<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/css/style.css" />

    <title>Big Project | Fid Hel</title>
  </head>
  <body>
    <!-- Navbar Start -->
    {% include 'includes/navigation.html' %}
    <!-- Navbar End -->

    <!-- Sign In Start -->
    {% include 'login-signup.html' %}
    <!-- Sign In End -->

    <!-- Jumbotron Start -->
    <section class="jumbotron bg-me">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-md-4">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, odio harum reprehenderit tenetur impedit laborum qui incidunt numquam ex repellat et architecto provident ipsum iste quibusdam.</p>
            <a class="btn btn-light btn-lg rounded-pill text-danger" href="#" role="button">Learn more</a>
          </div>
          <div class="col-md-4">
            <img src="../static/img/IMG.png" alt="image-hero" width="400" class="rounded-circle" />
          </div>
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#ffffff"
          fill-opacity="1"
          d="M0,192L48,197.3C96,203,192,213,288,192C384,171,480,117,576,128C672,139,768,213,864,213.3C960,213,1056,139,1152,138.7C1248,139,1344,213,1392,250.7L1440,288L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
        ></path>
      </svg>
    </section>
    <!-- Jumbotron End -->

    <!-- Description Start -->
    <section id="descripe">
      <div class="container">
        <h2 class="text-center mb-3">Description</h2>
        <p class="text-end">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam ipsum eligendi tempora vitae ad aut in accusantium harum delectus rem! Dolores reprehenderit illum ex, facilis aperiam eum eligendi possimus doloribus veritatis
          officia aliquid nam repudiandae ea error voluptatem eius laudantium praesentium, non a neque? Hic ipsa praesentium quis quod culpa.
        </p>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#f5af19"
          fill-opacity="1"
          d="M0,64L48,96C96,128,192,192,288,202.7C384,213,480,171,576,181.3C672,192,768,256,864,266.7C960,277,1056,235,1152,208C1248,181,1344,171,1392,165.3L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
        ></path>
      </svg>
    </section>
    <!-- Description End -->

    <!-- Footer Start -->
    <footer class="bg-me text-center pb-3">
      <p class="text-white">Created by Fid&Hel | 2022</p>
    </footer>
    <!-- Footer End -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->

    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  </body>
</html>
