<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../static/img/icon.svg" alt="icon" width="30" height="24" class="d-inline-block align-text-top" />
      Big Project
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item p-2">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link" href="#">Description</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item dropdown p-2">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Dropdown link </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item p-2">
          <button class="btn bg-me rounded-pill text-white" style="width: 6rem" type="button" data-bs-toggle="modal" data-bs-target="#SignInModal">Sign In</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar End -->
